<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.0">

    <name>Bluetooth Map</name>
    <author>Vivax-Metrotech</author>
    <description>Show locator data collected through bluetooth channel in Google Map.</description>
    <icon src="images/icon.png" />
    <content src="index.html" />

    <feature id="blackberry.ui.menu" />
    <feature id="blackberry.ui.dialog" />
    <feature id="blackberry.system.event" />
    <feature id="blackberry.io.dir" />
    <feature id="blackberry.io.file" />

    <feature id="vxmt.bluetooth.basic" required="true" version="1.0.0" />
    <feature id="vxmt.gps.basic" required="true" version="1.0.0" />

    <access uri="http://maps.googleapis.com" subdomains="true" />

    <rim:navigation mode="focus" />

</widget>
