html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
.page {
	height: 100%;
	width: 100%;
/*	display: none;*/
}

.page {
	z-index: 3;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	
}

#home {
	height: 360px;
	width: 480px;
	background-image: url('../images/home-bg.png');
}

#home .links {
	position: absolute;
	top: 307px;
	left: 30px;
}

#home .links a {
	margin-right: 43px;
	padding: 15px;
}

#home .links a,
#home .links a:visited,
#home .links a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #444;
	font-size: 16px;
	font-family: Arial;
}

#home .links a:hover {
	color: #000;
	font-weight: bolder;
}

#setting ul.devices {
	padding: 10px;
}

#setting ul.devices li{
	padding: 10px;
	background-color: #dfdfdf;
	margin-bottom: 5px;
}

#setting a.link_button {
	padding: 10px;
	background-color: #fff;
	text-decoration: none;
	display: block;
}

#open_kml a,
#open_kml a:visited,
#open_kml a:hover {
	padding: 5px 10px;
	font-size: 20px;
	text-decoration: none;
	display: block;
	color: black;
}

#open_kml ul {
	padding: 10px;
	margin-bottom: 5px;
}

#open_kml ul li {
	padding: 10px;
	background-color: #dfdfdf;
	margin-bottom: 5px;
}

#save_kml h1, #save_kml h3, #save_kml input {
	margin-left: 10px;
}