html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
.page {
	height: 100%;
	width: 100%;
/*	display: none;*/
}

.page {
	z-index: 3;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	
}
